@mixin responsive-font($relativeFontSize : 1.2vw, $smallScreenFontSize : 16px, $family : "Exo 2", $changeAt : 1200px) {
	font:{
		size: $relativeFontSize;
		@if $family != ""{
			family: $family, sans-serif;
		}
	} 

	@media(max-width: $changeAt){
		font:{
		   size:$smallScreenFontSize;
		}
	}
}