@import '~sass/basic';
@import '~sass/fonts';
@import '~sass/components/header';
@import '~sass/components/table';
@import '~sass/components/filter_form';

#app .filter-button{
    margin:5px;
    background:#0FCACA;
    color:white;
    @include responsive-font(1.2vw, 15px,Montserrat);
    height:2em;
    padding:0 3vw;
  }