@import '~sass/basic';
@import '~sass/fonts';
@import '~sass/components/header';
@import '~sass/components/table';
@import '~sass/components/filter_form';

#app .filter-button{
    margin:5px;
    background:#0FCACA;
    color:white;
    @include responsive-font(1.2vw, 15px,Montserrat);
    align-items: center;
    display: inline-flex;
    padding:0 3vw;
  }

  #app .header{
    padding: calc(60px + 2vw) 0 2vw 7vw;
  }

  #app .filter-form{
    align-content: stretch;
  }