@import '~sass/fonts';

.datepicker-wrapper{
    display:inline-flex;
    flex-wrap:nowrap;
    align-items: center;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
}

.datepicker-description{
    @include responsive-font(1.2vw, 15px,Montserrat);
    line-height: 2em;
    white-space: nowrap;
    color:#3C4346;
    padding: 0 5px;
    background: #e9e9ea;
    opacity: 0.5;
    font-weight:bold;
}

#app .calendar-input{
    color:#3C4346;
	border: none;
	background:white;
    outline:none;
    font-weight:bold; 
}

.calendar-icon{
    width: 0.8em;
    height: 0.8em;
    margin: 0 4px;
}