@import '~sass/fonts';

.textarea-container{
    display:flex;
    flex-wrap:nowrap;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    align-items:stretch;
}

.textarea-label{
   flex-basis:15%;
   background:#efeeee;
   @include responsive-font(1.1vw, 12px,Montserrat);
   color:black;
   font-weight:bold;
}

.textarea{
   flex-basis:85%;
   color:black;
   @include responsive-font(1.3vw, 14px,Montserrat);
   border: none;
}