@import '~sass/fonts';

.textarea-container{
    border: 1px solid black;
    overflow: hidden;
    margin: 2vw 0;
    border-radius: 5px;
}

.textarea-label{
   background:#efeeee;
   @include responsive-font(1.3vw, 15px,Montserrat);
   text-align: center;
   padding:1vw;
   display: block;
   color:black;
   font-weight:bold;
}

.textarea{
   width: 100%;
   color:black;
   @include responsive-font(1.3vw, 14px,Montserrat);
   border: none;
   display: block;
}