@import '~sass/fonts';

.select-label{
	border: 1px solid black;
    border-radius: 4px;
	color:#3C4346;
	margin: 5px;
    background:white;
    display: inline-block;
    padding:0;
    overflow: hidden;
}

.select-description{
    white-space: nowrap;
    display: block;
    color:#3C4346;
    padding: 0.5vw;
    background: #e9e9ea;
    opacity: 0.5;
    font-weight:bold;
    text-align: center;
}

.described-select{
	display:block;
	color:#3C4346;
	border: none;
	background:white;
    outline:none;
    font-weight:bold; 
    width: 95%;
    min-width: fit-content;
    margin: 3px auto;
    @include responsive-font(1.3vw, 16px,Montserrat);
}

 .select-description, .select-label{
    @include responsive-font(1vw, 12px,Montserrat);
}