.read-only-box-container{
    display:inline-flex;
    flex-wrap:nowrap;
}

.read-only-label{
   color:white;
   background:#00C8C8;
   @include responsive-font(1.2vw, 15px,Montserrat);
   line-height: 2em;
   white-space: nowrap;
   padding:0 0.3vw;
   border-radius: 4px 0 0 4px;
}

.read-only-content{
    color:black;
    font-weight:bold;
    background:#e9e9ea;
    @include responsive-font(1.2vw, 15px,Montserrat);
    line-height: 2em;
    white-space: nowrap;
    padding:0 0.3vw;
    border-radius:0 4px 4px 0;
}