@import '~sass/fonts';

.remove-rectangular-element-icon{
    width:1.8vw;
    height:1.8vw;
    margin-left:1vw;
}

.rectangular-elements-list{
    list-style-type: none;
    padding:4px;
    margin:0;
}

.rectangular-list-element{
    padding: 1vw;
    display: inline-flex;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
    background: #efeeee;
    border-radius:5px;
}

.list-text{
    color:black;
    @include responsive-font(1.3vw, 16px,Montserrat);
}