.removal-button{
    padding:0 10px;
    color:white;
    @include responsive-font(1.2vw, 15px,Montserrat);
    background:crimson;
    display: inline-flex;
    align-items: center;
    border: none;
    border-radius: 4px;
    line-height: 2em;
    cursor:pointer;
}