@import '~sass/fonts';

.tab-list{
    list-style-type: none;
    padding: 1vw 0 1vw 7vw;
    margin:0;
}

.tab-list-element{
    border-radius:4px 4px 0 0;
    padding:4px;
    color:white;
    display:inline-block;
    color:black;
    @include responsive-font(1.2vw, 15px,Montserrat);
    cursor:pointer;
    &:hover{
        background:#0FCACA;
    }

}

.tab-list-section{
    background:#444141;
    border: 1px solid #444141;
}
