.table-container{
    position:relative;
    min-height:300px;
  }
  
  .table-header{
    padding: 1vw 7px;
    @include responsive-font(1.2vw,12px,Montserrat);
    background:#3C4346;
    color:white;
    text-align: center;
  }
  
  .table{
    margin: 8px auto;
    border-collapse: collapse;
  }
  
  .table-cell{
    color:black;
    text-align:center;
    vertical-align: middle;
    padding:0.5vw;
    @include responsive-font(1.2vw,12px,Montserrat);
    &:nth-child(even){
      background:#efeeee;
    }
  }
