@import '~sass/basic';
@import '~sass/fonts';
@import '~sass/components/decoration/icon_error_cross';
@import '~sass/components/decoration/error_message';
@import '~sass/components/decoration/introductory_container';
@import '~sass/components/header';
@import '~sass/components/blank_button';
@import '~sass/components/table';
@import '~sass/components/datepicker_wraper';


.add-project-button{
    margin-left: 10px;
}

.projects-filter-form{
  background: white;
  padding: 5px;
}

#app .filter-button{
  margin:5px;
  background:#0FCACA;
  color:white;
  @include responsive-font(1.2vw, 15px,Montserrat);
  text-align: center;
  display: block;
}

.success-message{
  min-width: 300px;
  width: 25vw;
  margin: 5px auto;
  padding: 5px;
  color: white;
  text-align: center;
  background: linear-gradient(#0fe00b, #054004);
  @include responsive-font(1.4vw,20px);
}

.button-icon{
  margin:0 5px;
}

.project-list-header{
  padding: 1.5vw 7vw;
}

.filter-controls{
  display: grid;
  grid-template-columns: repeat(4, 24%);
  justify-content: space-between;
  justify-items: stretch;
}

.status-cell{
  font-weight:bold;
}

.finished-status{
  color:#5CC52D;
}

.error-list-element{
  color:white;
  @include responsive-font(1.3vw, 16px,Montserrat);
  background: crimson;
}
