@import '~sass/basic';
@import '~sass/fonts';
@import '~sass/components/decoration/icon_error_cross';
@import '~sass/components/decoration/error_message';
@import '~sass/components/header';
@import '~sass/components/table';
@import '~sass/components/tiny_button';


.add-project-button{
    margin-left: 10px;
}

.projects-filter-form{
  background: black;
  padding: 5px;
}

.filter-button{
  margin:5px;
}

.success-message{
  min-width: 300px;
  width: 25vw;
  margin: 5px auto;
  padding: 5px;
  color: white;
  text-align: center;
  background: linear-gradient(#0fe00b, #054004);
  @include responsive-font(1.4vw,20px);
}